# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
.env.local

# Next.js
.next/
out/
node_modules/
.DS_Store
*.pem
.vercel

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
coverage/
.coverage
htmlcov/

# Build
dist/
build/
*.egg-info/